.photo-holder{
  padding-left: 5px;
  padding-right: 5px;
}

.photo-holder:hover {
  background-color: #34495e;
  color: white;
  text-shadow: 3px 3px 10px #000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}